@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bebas+Neue&display=swap');

:root {
    --primary-color:#ff0000;
    --dark-gray:#4B5563;
    --off-white:#E5E7EB;
}

textarea {
    width: 80%;
    height: 10vh;
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Architects Daughter';
    font-size: 2.5vh ;
}

#output {
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.5vh;
}


body {
    font-family: 'Architects Daughter';
    margin: 0px;
}

#btn-translate {
    background-color: #e5e246;
    border-radius: 0.4rem ;
    border-color: #e5e2465b;
    font-size: 28px;
    display: block;
    margin:auto;
    cursor: pointer;
}

.header {
    text-align: center;
    background-color: #e5e246;
    height: 6rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 0.5rem;
    padding-top: 2rem;
    font-size: 50px;
    font-weight: bolder;
}

h2 {
    font-weight: bold; 
    text-align: center;
    padding-top: 1.5rem;
}

.footer {
    background-color: #e5e246;
    border-top-right-radius: 1rem;
    border-top-left-radius: 0.5rem;
}